<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ThumbnailsGenerator" type="ThumbnailsGenerator.Configuration.ThumbnailsConfigurationSection, ThumbnailsGenerator" />
  </configSections>
  <ThumbnailsGenerator>
    <IconsDirectory value="..\..\..\..\icons" />
  </ThumbnailsGenerator>
</configuration>